body {
    /**background-color:beige;**/
    background-color: #393E46;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: larger;

}

.hyper {
    color: #393E46;
  text-decoration: none; /* no underline */
}

.hyper:hover {
    color: #393E46;
    font-size: larger;
  text-decoration: underline;
}

.para {
  font-size: xx-large;
}

.header{
  padding: 3px;
  font-size: 40px;
  text-align: center;
  background: white;
  border-radius: 65px;
}

.parabg{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-size: 25px;
  border-radius: 65px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  border-radius: 65px;
  font-size: large;
  text-align: left;
  margin-left: auto;
}

.hyperlinks{
  color: #393E46;
  text-decoration: none; /* no underline */
}

/* Dropdown Button */
.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}